header {
	border: 1px solid gold;
}

#navBar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navBar li {
	list-style: none;
	margin-right: 2em;
}

#navBar a {
	text-decoration: none;
}