/* Nav Bar and header */


header {
	border: 1px solid gold;
}

#navBar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#navBar li {
	list-style: none;
	margin-right: 2em;
}

#navBar a {
	text-decoration: none;
}

/* 	Working to change color of all .disabled classes to grey except ones inside an anchor tag, 
		which change to a different color.  :not() --- not sure if it works with selectors that are not basic	 */


/*.disabled:not(a .disabled) {
	color: grey;
}

.disabled {
	color: grey;
}

a .disabled, a.disabled {
	color: purple;
}*/


.active {
	color: yellow;
}